*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    color: rgb(217, 217, 217)
    

}

body{
    font-family: 'Lato', sans-serif;
    background-color: #202020;
}

h3, h4{
    font-weight: 400;
    color: rgb(217, 217, 217)
}

.App{
    transition: all .5s ease;
}

.library-active{
    margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";